div.exterm.exterm-focused {
    border-style: solid;
    border-color: yellow;
    border-width: 2px;
}

div.exterm.exterm-blurred {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

div#exterm-terminal {
    background-color: black;
    color: white;
    font-family: monospace;
    width: 80ch;
    height: 40em;
}

div.exterm.exterm-blurred div.exterm-cursor.exterm-cursor-active {
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

div.exterm.exterm-focused div.exterm-cursor.exterm-cursor-active {
    animation: blinker 1s linear infinite;
}

div.exterm-row {
    width: 100%;
    height: 1em;
    display: flex;
}

div.exterm-cell {
    flex: 1;
    width: 1ch;
    height: 1em;
}

@keyframes blinker {
    50% {
      background-color: white;
    }
  }